
/* 颜色 */
:root {
  --lcl-theme-op: #4259ef23;
  --lcl-gray-op: #9999992b;
  --lcl-theme-top: var(--lcl-theme);
  --lcl-white: #fff;
  --lcl-white-op: rgba(255, 255, 255, 0.2);
  --lcl-black: #000;
  --lcl-black-op: rgba(0, 0, 0, 0.2);
  --lcl-none: rgba(0, 0, 0, 0);
  --lcl-gray: #999999;
  --lcl-yellow: #ffc93e;
  --lcl-border-radius: 8px;
  --lcl-main: var(--lcl-theme);
  --lcl-main-op: var(--lcl-theme-op);
  --lcl-shadow-theme: 0 8px 12px -3px var(--lcl-theme-op);
  --lcl-shadow-main: 0 8px 12px -3px var(--lcl-main-op);
  --lcl-shadow-blue: 0 8px 12px -3px rgba(40, 109, 234, 0.2);
  --lcl-shadow-white: 0 8px 12px -3px rgba(255, 255, 255, 0.2);
  --lcl-shadow-black: 0 0 12px 4px rgba(0, 0, 0, 0.05);
  --lcl-shadow-yellow: 0px 38px 77px -26px rgba(255, 201, 62, 0.12);
  --lcl-shadow-red: 0 8px 12px -3px #ee7d7936;
  --lcl-shadow-green: 0 8px 12px -3px #87ee7936;
  --lcl-shadow-border: 0 8px 16px -4px #2c2d300c;
  --lcl-shadow-blackdeep: 0 2px 16px -3px rgba(0, 0, 0, 0.15);
  --lcl-logo-color: linear-gradient(215deg, #4584ff 30%, #ff7676 70%);
  --style-border: 1px solid var(--lcl-card-border);
  --lcl-blue-main: #0A6EDE;
  --style-border-hover: 1px solid var(--lcl-main);
  --style-border-dashed: 1px dashed var(--lcl-theme-op);
  --style-border-avatar: 4px solid var(--lcl-background);
  --style-border-always: 1px solid var(--lcl-card-border);
  --style-border-none: 1px solid transparent;
  --lcl-white-acrylic1: #fefeff !important;
  --lcl-white-acrylic2: #fcfdff !important;
  --lcl-black-acrylic2: #08080a !important;
  --lcl-black-acrylic1: #0b0b0e !important;
  --lcl-main-none: #b8b8b800 !important;
}

[data-theme="light"] {
  --lcl-theme: #0A6EDE;
  --lcl-theme-deep: #1856fb;
  --lcl-theme-op: #4259ef23;
  --lcl-blue: #0A6EDE;
  --lcl-red: #d8213c;
  --lcl-pink: #ff7c7c;
  --lcl-green: #57bd6a;
  --lcl-fontcolor: #363636;
  --lcl-background: #f7f9fe;
  --lcl-reverse: #000;
  --lcl-maskbg: rgba(255, 255, 255, 0.6);
  --lcl-maskbgdeep: rgba(255, 255, 255, 0.85);
  --lcl-hovertext: var(--lcl-theme);
  --lcl-ahoverbg: #f7f7fa;
  --lcl-lighttext: var(--lcl-main);
  --lcl-secondtext: rgba(60, 60, 67, 0.6);
  --lcl-scrollbar: rgba(60, 60, 67, 0.4);
  --lcl-card-btn-bg: #edf0f7;
  --lcl-post-blockquote-bg: #fafcff;
  --lcl-post-tabs-bg: #f2f5f8;
  --lcl-secondbg: #f1f3f8;
  --lcl-shadow-nav: 0 5px 12px -5px rgba(102, 68, 68, 0.05);
  --lcl-card-bg: #fff;
  --lcl-shadow-lightblack: 0 5px 12px -5px rgba(102, 68, 68, 0);
  --lcl-shadow-light2black: 0 5px 12px -5px rgba(102, 68, 68, 0);
  --lcl-card-border: #e3e8f7;
}

[data-theme="dark"] {
  --global-bg: #191919;
  --lcl-theme: #0084ff;
  --lcl-theme-deep: #0076e5;
  --lcl-theme-op: #0084ff23;
  --lcl-blue: #0084ff;
  --lcl-red: #ff3842;
  --lcl-pink: #ff7c7c;
  --lcl-green: #57bd6a;
  --lcl-fontcolor: #f7f7fa;
  --lcl-background: #18171d;
  --lcl-reverse: #fff;
  --lcl-maskbg: rgba(0, 0, 0, 0.6);
  --lcl-maskbgdeep: rgba(0, 0, 0, 0.85);
  --lcl-hovertext: #0a84ff;
  --lcl-ahoverbg: #fff;
  --lcl-lighttext: #f2b94b;
  --lcl-secondtext: #a1a2b8;
  --lcl-scrollbar: rgba(200, 200, 223, 0.4);
  --lcl-card-btn-bg: #30343f;
  --lcl-post-blockquote-bg: #000;
  --lcl-post-tabs-bg: #121212;
  --lcl-secondbg: #30343f;
  --lcl-shadow-nav: 0 5px 20px 0px rgba(28, 28, 28, 0.4);
  --lcl-card-bg: #1d1b26;
  --lcl-shadow-lightblack: 0 5px 12px -5px rgba(102, 68, 68, 0);
  --lcl-shadow-light2black: 0 5px 12px -5px rgba(102, 68, 68, 0);
  --lcl-card-border: #42444a;
}


#page:has(#essay_page) {
    border: 0;
    box-shadow: none !important;
    padding: 0 !important;
    background: transparent !important;
  }
  #page:has(#essay_page) .page-title {
    display: none;
  }
  #web_bg ~ .page:has(#essay_page) {
    background: var(--lcl-background);
  }
  #bber .bber-container-img {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 0.3rem;
  }
  #bber .bber-container-img .bber-content-noimg {
    width: calc(100% / 4 - 5px);
  }
  #bber .timeline #waterfall.list{
    padding-left: 0;
  }
  
  #bber .bber-content-img img {
    object-fit: cover;
    max-height: 100%;
    border-radius: 12px;
  }
  
  #bber .bber-content-img {
    height: 100px;
    border-radius: 12px;
    overflow: hidden;
    display: flex;
    position: relative;
    width: calc(100% / 4 - 5px);
  }
  
  #bber .bber-content .datacont {
    order: 0;
    font-size: 0.8rem;
    font-weight: 700;
    color: var(--lcl-fontcolor);
    width: 100%;
    line-height: 1.38;
    border-radius: 12px;
    margin-bottom: 0.5rem;
    display: flex;
    flex-direction: column;
    text-align: justify;
  }
  #bber p {
    margin: 0px;
  }
  #bber div.bber-content {
    display: flex;
    flex-flow: wrap;
    border-radius: 12px;
    width: 100%;
    height: 100%;
  }
  #bber .timeline ul li.bber-item {
    position: relative;
    width: 31%;
    border: var(--style-border-always);
    border-radius: 12px;
    padding: 1rem 1rem 0.5rem;
    transition: all 0.3s ease 0s;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;
    background: var(--lcl-card-bg);
    box-shadow: var(--lcl-shadow-border);
    /* margin-right: 2%; */
  }
  #bber .timeline #waterfall.show {
    opacity: 1;
  }
  #bber .timeline #waterfall {
    opacity: 0.7;
    transition: all 0.3s ease 0s;
  }
  #bber ul.list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
  #bber {
    margin-top: 1rem;
    width: 100%;
  }
  #bber > section > ul > li.bber-item {
    margin-bottom: 1rem;
  }
  
  #bber-tips {
    font-size: 14px;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }
  
  #bber .timeline ul li.bber-item hr {
    display: flex;
    position: relative;
    margin: 8px 0px;
    border: 1px dashed var(--lcl-theme-op);
    width: 100%;
  }
  
  #bber .bber-info {
    display: flex;
    align-items: center;
  }
  
  #bber > section > ul > li > div .bber-info-time,
  #bber > section > ul > li > div .bber-info-from {
    color: var(--lcl-fontcolor);
    font-size: 0.7rem;
    background-color: var(--lcl-gray-op);
    padding: 0px 8px;
    border-radius: 20px;
    cursor: default;
    display: flex;
    align-items: center;
  }
  
  #bber .bber-info .far.fa-clock {
    margin-right: 4px;
  }
  #bber > section > ul > li > div .bber-info-from span,
  #bber > section > ul > li > div .bber-info-from {
    margin-left: 4px;
  }
  
  #bber .bber-bottom {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
  }
  
  #bber .bber-bottom .bber-reply {
    cursor: url(/img/x2.cur), auto !important;
  }
  
  #bber .timeline ul li.bber-item:hover {
    border: var(--style-border-hover);
  }
  
  #bber .bber-content-link {
    display: flex;
    margin-left: 0.5rem;
    font-size: 0.7rem;
    align-items: center;
    background-color: rgba(245, 108, 108, 0.13);
    color: rgb(245, 108, 108);
    padding: 0px 8px;
    border-radius: 20px;
  }
  #bber .bber-content-link i {
    margin-right: 3px;
  }
  #bber .bber-content-link:hover {
    background-color: var(--lcl-main);
    color: var(--lcl-white);
  }
  #bber .bber-music {
    width: 100%;
    height: 90px;
    margin: 0.5rem 0;
    border-radius: 8px;
    overflow: hidden;
    border: var(--style-border-always);
    background: var(--lcl-secondbg);
  }
  #bber .aplayer {
    margin: 0;
  }
  
  #bber .aplayer.aplayer-withlrc .aplayer-pic {
    height: 82px;
    width: 82px;
    margin: 4px;
    border-radius: 4px;
  }
  .bber-music .aplayer.aplayer-withlrc .aplayer-info {
    padding: 5px 7px 0;
  }
  #bber .aplayer .aplayer-info .aplayer-music {
    height: 23px;
  }
  #bber .aplayer .aplayer-info .aplayer-music .aplayer-title {
    font-size: 0.8rem;
    font-weight: 700;
    margin: 0;
    color: var(--lcl-fontcolor);
  }
  
  #bber .aplayer .aplayer-info .aplayer-controller {
    align-items: center;
  }
  #bber .aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap {
    padding: 0;
  }
  #bber .aplayer .aplayer-info .aplayer-controller .aplayer-time {
    position: initial;
  }
  #bber .aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap .aplayer-bar {
    background: var(--lcl-gray);
    height: 8px;
    border-radius: 12px;
    transition: 0.3s;
    overflow: hidden;
  }
  #bber .aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap .aplayer-bar .aplayer-loaded {
    height: 100%;
    border-radius: 12px;
  }
  #bber .aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap .aplayer-bar .aplayer-played {
    height: 100%;
    border-radius: 12px;
  }
  #bber .aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap .aplayer-bar .aplayer-played .aplayer-thumb {
    display: none;
  }
  #bber .aplayer .aplayer-info .aplayer-controller .aplayer-time {
    position: initial;
  }
  
  /* 顶部样式 */
  .author-content.author-content-item.essayPage {
    height: 19rem;
    background: url(https://cdn.staticaly.com/gh/rg617yyds/lcl-img@master/urllcl/1a0a190.jpg) left 28% / cover no-repeat;
    color: var(--lcl-white);
    overflow: hidden;
    margin-top: 0px;
  }
  #page:has(#essay_page) .author-content-item .card-content .banner-button-group .banner-button:hover {
    color: var(--lcl-white);
    border-radius: 20px !important;
  }
  
  /* 响应式 */
  @media screen and (max-width: 1300px) {
    #bber .timeline ul li.bber-item {
      width: 49%;
      margin-right: 1%;
    }
  }
  @media screen and (max-width: 768px) {
    #bber .timeline ul li.bber-item {
      width: 100%;
      margin-right: 0px;
    }
  }
  [data-theme="dark"] #bber .bber-music .aplayer,
  [data-theme="dark"] #bber .aplayer .aplayer-lrc:before,
  [data-theme="dark"] #bber .aplayer .aplayer-lrc:after {
    background: var(--lcl-card-bg);
    color: var(--lcl-fontcolor);
  }
  #bber .aplayer .aplayer-lrc p {
    color: var(--lcl-fontcolor);
  }

  /* #bber .timeline ul li.bber-item:nth-child(3n){
    padding-right: 0;
  } */